body {
    background-color: #33b5e5;
    position: relative;
    padding-top: 20px;
    color: white;
    
    
}

    
.navbar {
    background-color: #9933cc;
    position: fixed;
    top: 0;
    width: 100%;
    color: #ffffff;
    z-index: 999;
    
}
.collapse navbar-collapse {
    color: #ffffff;
}
.navbar li a .navbar .navbar-brand {
    color: white;
}
.navbar-brand .nav-link .nav-item {
    color: #ffffff;
}

.navbar-light .navbar-brand {
    color: #ffffff;
}
.home {
    border-top: 25px solid #33b5e5;
}
#Home {
    background-color: #e9e9e9;
}
.info {
    background-color: #dd4814;
    width: 100%;
    text-align: center;
    opacity: 0.8;
}
.button {
    background-color: white;
    color: black;
    font-size: 1em;
    border-radius: 10px;
}
.charity{
    font-size: 2em;
}


footer {
    background-color: #9933cc;
    width: 100%;
}
.icon {
    border-radius: 12px;
    color: white;
    
}


